@model IList<ProductModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3 mb-4">
                <div class="card h-100">
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">
                        <img src="@item.ImagePath" class="card-img-top" alt="@item.Name" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-text">Price : @item.SellingPrice</h5>
                        <h5 class="card-text">Name : @item.Name</h5>
                        <h5 class="card-text">Category : @item.CategoryName</h5>

                        <a class="btn btn-info" asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
